h1{
    color:black;
    font-size:1.9em;
    text-align:center;
    width:48em;
    padding:3px;
    margin:10px;
    display:inline-block;
    text-decoration-line: underline;
}
h2{
    font-family:cursive;
}
#Imagen3{
    float:left;
}
#Presi{
    float:right;
    margin:20px;
    padding:8px;
}
#Col{
    margin:20px;
    padding:10px;
}